.btnMenu {
  color: white;
}

.active {
  display: none !important;
}

.btnMenu {
  cursor: pointer;
  color: white;
  padding-left: 20px;
  padding-top: 20px;
}

@media (max-width: 750px) {
  .active {
    display: block !important;
  }
}
